{% extends 'base.html' %}
{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <form action="{% url 'accounts:password_verify' token=token uidb64=uidb64 %}" method="POST">
                {% csrf_token %}
                <div class="form-group mb-4">
                    <label for="old_password" class="mb-3">
                        پسوورد قدیمی
                    </label>
                    <input name="old_password" id="old_password" type="password" class="form-control">
                </div>
                <div class="form-group mb-4">
                    <label for="password1" class="mb-3">
                        پسوورد ۱
                    </label>
                    <input name="password1" id="password1" type="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password2" class="mb-3">
                        پسوورد ۲
                    </label>
                    <input name="password2" id="password2" type="password" class="form-control">
                </div>
                <button type="submit" class="mt-3 btn btn-primary">ارسال</button>
            </form>
        </div>
    </div>
</div>

{% endblock body %}