<div class="my-navbar">
    <div class="nav-container">
        <div class="menu-icon show-icon" id="icon-menu">
            <i class="fas fa-bars ham" id="hamburger-id"></i>
            <i class="fas fa-times times hide-icon" id="times-id"></i>
        </div>
        <nav class="nav hide-menu" id="navbar-class">
            <ul>
                <li><a href="http://www.google.com" class="active">خانه</a></li>
                <li><a href="#">محصولات</a></li>
                <li><a href="#">خدمات</a></li>
                <li><a href="#">تماس با ما</a></li>
            </ul>
        </nav>
        <span><a href="#">فروشگاه اینترنتی</a></span>
    </div>
</div>