<div class="my-navbar">
    <div class="nav-container">
        <div class="menu-icon show-icon" id="icon-menu">
            <i class="fas fa-bars ham" id="hamburger-id"></i>
            <i class="fas fa-times times hide-icon" id="times-id"></i>
        </div>
        <nav class="nav hide-menu" id="navbar-class">
            <ul class="">
                <li><a href="{% url 'home:home' %}" class="active">خانه</a></li>
                <li><a href="#">محصولات</a></li>
                <li><a href="#">خدمات</a></li>
            </ul>
        </nav>
        <div class="account-container">
            {% if user.is_authenticated %}
                <div class="email-bar">
                    {{user.email}}
                </div>
                <div class="account-nav">
                    <ul class="">
                        <li><a href="{% url 'accounts:logout' %}">خروج از سیستم</a></li>
                        <li><a href="{% url 'cart:cartlist' %}">سبد خرید</a></li>
                        <li><a href="#">پروفایل</a></li>
                    </ul>
                </div>
            {% else %}
                <a class="text-decoration-none btn-sm btn-light" href="{% url 'accounts:login' %}">ورود</a>
                <a class="text-decoration-none btn-sm btn-light" href="{% url 'accounts:register' %}">ثبت نام</a>
            {% endif %}
        </div>
    </div>
</div>