{% load persian %}
<div class="container mt-5" id="cart-container">
    {% if total_price %}
    <table class="table caption-top">
      <caption class="mb-4">لیست سبد خرید شما :</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">محصول</th>
          <th scope="col">سقف سفارش محصول</th>
          <th scope="col">تعداد</th>
          <th scope="col">ویرایش</th>
          <th scope="col">حذف</th>
        </tr>
      </thead>
      <tbody class="">
        {% for item in object_list %}
        <tr data-index="{{item.id}}" id="cart-record-{{item.id}}">
              <th scope="row">{{forloop.counter | get_persian_number}}</th>
              <td>{{item.product}}</td>
              <td>{{item.product.valid_order_number | get_persian_number}}</td>
              <td class="quentity">
                  <span class="quentity__value" id="quentity-value-{{item.id}}">{{item.quentity | get_persian_number}}</span>
              </td>
              <td class="save-col">
                  <span class="text-primary edit-button">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                  </span>
      
              </td>
              <td>
                  <span class="text-danger remove-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                          <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                      </svg>
                  </span>
              </td>
          </tr>

        {% endfor %}
        
      
      </tbody>
  </table>
  <div class="mb-4 mt-5">
    <span href="" class="text-light bg-success p-2 rounded-3">مجموع قیمت ها : {{total_price | get_persian_number}}</span>
  </div>
  <div class="">
    <a class="btn btn-primary" href="{% url 'pay:verify_pay' %}">خرید همه آیتم ها</a>
  </div>
  

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            آیا از حذف آیتم مطمینید؟
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="delete-item-final">حذف</button>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="alert alert-info">شما محصولی را به سبد خود اضافه نکرده اید.</p>
        <a class="btn btn-primary" href="{% url 'home:home' %}">بازگشت به خانه</a>
      </div>
    </div>
    {% endif %}
</div>



