{% extends 'base.html' %}
{% load static %}


{% block style_link %}
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/navbar/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/header/header.css' %}">
{% endblock style_link %}

{% block navbar %}
    {% include 'partials/navbar/navbar.html' %}
{% endblock navbar %}

{% block header %}
    {% include 'partials/header/header.html' %}
{% endblock header %}

{% block body %}
<!-- <button class="btn btn-success m-5" id="click-me">click me</button> -->
{% if messages %}

    {% for message in messages %}
       <p class="alert alert-success w-50">{{ message }}</p>
    {% endfor %}

{% endif %}
{% include 'home/search.html' %}
{% include 'home/body.html' %}
{% include 'home/paginate.html' %}
{% endblock body %}

{% block scripts %}
    <script src="{% static 'assets/js/navbar.js' %}"></script>
    <script>
        
    </script>
{% endblock scripts %}