.bg-purple{
    background-color: rgba(220, 73, 220, 0.56);
}

.bg-green{
    background-color: rgba(39, 206, 39, 0.5);
}

body{
  background-image: linear-gradient(to right, rgba(43, 123, 39, 0.8), rgba(128, 0, 255, 0.5));
  background-color: #5c93e5;
}
.main-container {
    min-height: 100vh;
    align-items: center;
    font-family: vazir;
}

div.row > div {
    margin-top: 100px!important;
    margin-bottom: 100px!important;
}

/*header*/
.header {
    background-color: purple;
    margin-top: -60px;
    box-shadow: 0 10px 5px rgba(128, 0, 128, 0.34);
}

.header .title {
    color: #fff3cd;
    font-size: 25px;
}

.icon i {
    color: purple;
    border: #0a53be 1px solid;
    background-color: #f1f3f5;
    border-radius: 50%;
    padding: 20px;
}

/* body */
#email-form, #password-form1 , #password-form2 {
    border-top: none;
    border-left: none;
    border-right: none;
    display: inline-block !important;
    width: 80%;
    font-size: 13px;
}

#email-form:focus, #password-form1:focus , #password-form2:focus {
    box-shadow: none;
    /*border-bottom: purple!important;*/
}
.password-hint p{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-bottom: 0;
    font-size: 13px;
}
.password-hint:last-child{
    margin-top: 5px!important;
}

label {
    font-size: 15px;
}
.input-group-text{
    background-color: rgba(128, 0, 128, 0.65);
}
button{
    background-color: purple!important;
    padding-top: 0!important;
    padding-bottom: 5px!important;
}
button:hover{
    box-shadow: 0 6px 10px rgba(109, 40, 109, 0.34);
}
/* footer */
hr{
    width: 60%;
}
footer{
    font-size: 13px;
}
footer span{
    text-shadow: rgba(53, 90, 163, 0.62) 1px 1px 1px;
}
footer a{
    text-decoration: none;
    color: purple;
    text-shadow: purple 1px 1px 1px;
}